<header class="header header--sticky">
  <div class="header-line hidden-xs">
    <div class="container">
      <div class="pull-left">
        <div class="social-links social-links--colorize">
          <ul>
            <li class="social-links__item"><a class="icon icon-facebook" href="#"></a></li>
            <li class="social-links__item"><a class="icon icon-twitter" href="#"></a></li>
            <li class="social-links__item"><a class="icon icon-google" href="#"></a></li>
            <li class="social-links__item"><a class="icon icon-pinterest" href="#"></a></li>
            <li class="social-links__item"><a class="icon icon-mail" href="#"></a></li>
          </ul>
        </div>
      </div>
      <div class="pull-right">
        <div class="user-links">
          <ul>
            <li class="user-links__item user-name"></li>
            <li class="user-links__item"><a href="/create-account/">Sign Up</a></li>
            <li  class="user-links__item user-links__item--separate"><a href="/logination">LOGIN</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__dropdowns-container">
    <div class="header__dropdowns">
      <div class="header__search pull-left"> <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button search-open"
><span class="icon icon-search"></span></a> </div>
      <div class="header__cart pull-left"><span class="header__cart__indicator hidden-xs">$0.00</span>
        <div class="dropdown pull-right"><a href="#" class="btn dropdown-toggle btn--links--dropdown header__cart__button header__dropdowns__button" data-toggle="dropdown"><span class="icon icon-bag-alt"></span><span class="badge badge--menu">2</span></a>
          <div class="dropdown-menu animated fadeIn shopping-cart" role="menu">
            <div class="shopping-cart__settings"><a href="#" class="icon icon-gear"></a></div>
            <div class="shopping-cart__top text-uppercase">Your Cart(2)</div>
            <ul>
              <li class='shopping-cart__item'>
                <div class="shopping-cart__item__image pull-left"><a href="#"><img src="/../images/products/product.jpg" alt=""/></a></div>
                <div class="shopping-cart__item__info">
                  <div class="shopping-cart__item__info__title">
                    <h2 class="text-uppercase"><a href="#">Fast Seconds Knit White</a></h2>
                  </div>
                  <div class="shopping-cart__item__info__option">Color: Blue</div>
                  <div class="shopping-cart__item__info__option">Size: Small</div>
                  <div class="shopping-cart__item__info__price">$84.00</div>
                  <div class="shopping-cart__item__info__qty">Qty:1</div>
                  <div class="shopping-cart__item__info__delete"><a href="#" class="icon icon-clear"></a></div>
                </div>
              </li>
              <li class='shopping-cart__item'>
                <div class="shopping-cart__item__image pull-left"><a href="#"><img src="/../images/products/product.jpg" alt=""/></a></div>
                <div class="shopping-cart__item__info">
                  <div class="shopping-cart__item__info__title">
                    <h2 class="text-uppercase"><a href="#">Fast Seconds Knit White</a></h2>
                  </div>
                  <div class="shopping-cart__item__info__option">Color: Blue</div>
                  <div class="shopping-cart__item__info__option">Size: Small</div>
                  <div class="shopping-cart__item__info__price">$84.00</div>
                  <div class="shopping-cart__item__info__qty">Qty:1</div>
                  <div class="shopping-cart__item__info__delete"><a href="#" class="icon icon-clear"></a></div>
                </div>
              </li>
            </ul>
            <div class="shopping-cart__bottom">
              <div class="pull-left">Subtotal: <span class="shopping-cart__total"> $130.00</span></div>
              <div class="pull-right">
                <button class="btn btn--wd text-uppercase">Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>        <div class="dropdown pull-right"> <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button" data-toggle="dropdown"><span class="icon icon-dots"></span></a>
        <ul class="dropdown-menu ul-row animated fadeIn" role="menu">
          <li class='li-col list-user-menu'>
      <h4>My Account</h4>
            <ul>
              <li><a href="#">Account</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Compare</a></li>
              <li><a href="#">Checkout</a></li>
            </ul>
          </li>
        </ul>
      </div>
</div>
  </div>
  <nav class="navbar navbar-wd" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" id="slide-nav"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <!--  Logo  --> <a class="logo" href="index.html"> <img class="logo-default" src="/../images/logo.png" alt=""/> <img class="logo-mobile" src="/../images/logo-mobile.png" alt=""/> <img class="logo-transparent" src="/../images/logo-transparent.png" alt=""/> </a>
        <!-- End Logo -->
      </div>
      <div class="pull-left search-focus-fade" id="slidemenu">
        <div class="slidemenu-close visible-xs">✕</div>
        <ul class="nav navbar-nav">
          <li> <a href="index.html" class="dropdown-toggle"><span class="link-name">APPLIANCES</span><span class="caret caret--dots"></span></a>
            <ul class="dropdown-menu animated fadeIn" role="menu">
              <li><a href="index-layout1.html">Air Conditioners</a></li>
              <li><a href="index-layout2.html">Kitchen Appliances</a></li>
              <li><a href="index-layout3.html">Refrigerators</a></li>
              <li><a href="index-layout4.html">Smart Home Appliances</a></li>
              <li><a href="index-layout5.html">Televisions</a></li>
              <li><a href="index-layout6.html">Washing Machine</a></li>
            </ul>
          </li>
          <li> <a href="index.html" class="dropdown-toggle"><span class="link-name">BABY & KIDS</span><span class="caret caret--dots"></span></a>
            <ul class="dropdown-menu animated fadeIn" role="menu">
              <li><a href="index-layout1.html">Baby Care</a></li>
              <li><a href="index-layout2.html">Boy`s Clothing</a></li>
              <li><a href="index-layout3.html">Boy`s Foot Wear</a></li>
              <li><a href="index-layout4.html">Girl`s Clothing</a></li>
              <li><a href="index-layout5.html">Girl`s Foot Wear</a></li>
              <li><a href="index-layout6.html">Toys</a></li>
            </ul>
          </li>
          <li> <a href="index.html" class="dropdown-toggle"><span class="link-name">BOOKS & MORE</span><span class="caret caret--dots"></span></a>
            <ul class="dropdown-menu animated fadeIn" role="menu">
              <li><a href="index-layout1.html">Books</a></li>
              <li><a href="index-layout2.html">Car & Bike Accessories</a></li>
              <li><a href="index-layout3.html">Car Electronics & Applications</a></li>
              <li><a href="index-layout4.html">Exercise & Fitness</a></li>
              <li><a href="index-layout5.html">Gaming & Accessories</a></li>
              <li><a href="index-layout6.html">Music</a></li>
              <li><a href="index-layout6.html">Sports</a></li>
              <li><a href="index-layout6.html">Stationery</a></li>
            </ul>
          </li>
          <li> <a href="index.html" class="dropdown-toggle"><span class="link-name">ELECTRONICS</span><span class="caret caret--dots"></span></a>
            <ul class="dropdown-menu animated fadeIn" role="menu">
              <li><a href="index-layout1.html">Desktop PCs</a></li>
              <li><a href="index-layout2.html">Home Entertainement</a></li>
              <li><a href="index-layout3.html">Laptops</a></li>
              <li><a href="index-layout4.html">Mobile</a></li>
              <li><a href="index-layout5.html">Mobile Accessories</a></li>
              <li><a href="index-layout6.html">Smart Wearables Tech</a></li>
            </ul>
          </li>
          <li> <a href="index.html" class="dropdown-toggle"><span class="link-name">FURNITURE</span><span class="caret caret--dots"></span></a>
            <ul class="dropdown-menu animated fadeIn" role="menu">
              <li><a href="index-layout1.html">Furnishing</a></li>
              <li><a href="index-layout2.html">furniture</a></li>
              <li><a href="index-layout3.html">Kitchen & Dining</a></li>
              <li><a href="index-layout4.html">Kitchen Storage</a></li>
              <li><a href="index-layout5.html">Lightning</a></li>
              <li><a href="index-layout6.html">Wall Decals & Stickers</a></li>
            </ul>
          </li>
          <li> <a href="index.html" class="dropdown-toggle"><span class="link-name">MEN</span><span class="caret caret--dots"></span></a>
            <ul class="dropdown-menu animated fadeIn" role="menu">
              <li><a href="index-layout1.html">Accessories</a></li>
              <li><a href="index-layout2.html">Bottom Wear</a></li>
              <li><a href="index-layout3.html">Footwear</a></li>
              <li><a href="index-layout4.html">Kitchen Storage</a></li>
              <li><a href="index-layout5.html">Men's Grooming</a></li>
              <li><a href="index-layout6.html">Sports Wear</a></li>
              <li><a href="index-layout6.html">Top Wear</a></li>
              <li><a href="index-layout6.html">Watches</a></li>
            </ul>
          </li>
          <li> <a href="index.html" class="dropdown-toggle"><span class="link-name">WOMEN</span><span class="caret caret--dots"></span></a>
            <ul class="dropdown-menu animated fadeIn" role="menu">
              <li><a href="index-layout1.html">Accessories</a></li>
              <li><a href="index-layout2.html">Beauty & Grooming</a></li>
              <li><a href="index-layout3.html">Ethnic Wear</a></li>
              <li><a href="index-layout4.html">Foot Wear</a></li>
              <li><a href="index-layout5.html">Jewellery</a></li>
              <li><a href="index-layout6.html">Sports Wear</a></li>
              <li><a href="index-layout6.html">Western Wear</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
